/* ########## books ######## */
body{
    text-decoration: none;
}
.container img{
    width: 280px;
    height: 320px;
}
img{
    padding: 10px;
}

.fiction #fiction{
    font-size: 40px;
    text-align: center;
}

.genre, a{
    padding-left: 40px;
}

.romance #romance{
    font-size: 40px;
    text-align: center;
}

.detective #detective{
    font-size: 40px;
    text-align: center;
}

.mystery #mystery{
    font-size: 40px;
    text-align: center;
}

#dilemma{
    font-size: 40px;
    text-align: center;
}







/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body{
    font-family: 'Varela Round', ;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* home */
#home{
    width: auto;
    height: 800px;
    background-image: url(../images/books-2596809_1920.jpg);
    background-size: cover;
}
/* search */
.search{
    top: 50%; 
    left: 50px; 
    box-sizing: border-box; 
    top: 50%;
    left: 50px;
    box-sizing: border-box;
    color: white;
    background: transparent;
    margin: 0;
    width: 1000px;
    position: absolute; 
    padding-left: 20%; 
    position: absolute;
    padding-left: 20%;
    text-align: center;
}
/* navbar */
 ul>li{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family:'Varela Round' ;
}
   

.nav-bar-links a{
    padding-left: 60px;
    text-decoration: none;
    color:white;
    transition: opacity, 2s linear;
    font-size: 30px;
}


.nav-bar-links a:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity, 2s linear;
    color: silver;
}

/* ############ About Us ############## */
.jumbotron{
    background-image: url();
}
.container{
    font-family: 'Varela Round';
}
h2{
    text-align: center;
    font-family:'Varela Round' ;
}
h1{
    text-align: center;
    font-family:'Varela Round' ;
}
.abouts{
    text-align: center;
}
.height-60{
    min-height: 60vh;
}
#contact .card{
    background: rgba();
    transition: all 2s ease;
}
#contact .card:hover{
    background: rgba();
}
#container .card-header{
    color: brown;
}
#contact .input-group-text{
    background: violet;
    border-color: violet;
    color: #242424;  
    color: #242424;
}
#contact .card input{
    color: #660066;
}
#contact .card intput::placeholder{
    color: #660066;
}
.contact-btn{
    color:  violet;
    border-color: violet;
    background: transparent;
    transition: all 2s ease-in-out;
    font-family:'Varela Round' ;
}
.contact-btn:hover{
    background: #c9c1ac;
    color: violet;
    border-color: #c9c1ac;
}
input .placeholder{
    font-family:'Varela Round' ;
    
}
/* work with us */
/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
#wwu {
  font-family: 'Varela Round', ;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: grey;
}

.container{
  text-align: center;
}

.contact {
  text-align: center;
  color: white;
  padding: 5rem;
}
.contcontainer {
  border-radius: 5px;
  padding: 5%;
}
.nav-bar-links{
  color: #daa520;
}
/* Body */
#delani1 {
font-family: 'Comfortaa';
font-size: 18px;
line-height: 3;
  align-items: center;
}

/* / Responsive layout - makes the two columns stack on top of each other instead of next to each other */ */ */
{@media screen and (max-width: 600px) {
.column {
  width: 100%;

.nav{
  color: black;
}


.contact {
background-image: url('../images/backgrounds/c_image.jpg');
text-align: center;
color: black;
padding: 5rem;
text-transform: capitalize;
}
/* Footer */

.footer {
text-align: center;
padding: 2rem;
}

.socials {
padding: 2rem;
}
.social {
width: 2rem;
margin: 1rem;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Style inputs */
input[type=text], select, textarea {
  background: transparent;
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: black;
}


/* Style the container/contact section */
.contcontainer {
  border-radius: 5px;
  padding: 5%;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column, {
    width: 100%;
}
::placeholder {
  color :black;
}

* {
  box-sizing: border-box;
} */

.textbody {
background-image: url('../images/backgrounds/wwuback.jpg');
}

/* Work with us */
/*membership css*/
/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body{
    font-family: Varela Round ;
} 
/* navbar */


 ul>li{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family:'Varela Round';
}
   
.nav-bar-links a{
    padding-left: 60px;
    text-decoration: none;
    color:black;
    transition: opacity, 2s linear;
    font-size: 30px;
}


.nav-bar-links a:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity, 2s linear;
    color: silver;
}
.jumbotron{
    background-image: url(../images/membercover.jpg);
    background-size: cover;
}   
h1 {
    text-align: center;
    font-size: 100px;
}
.explain{
    text-align: center;
}
.head-gold {
    padding-top: 10px;
}
.form-gold {
    display: none;
}
.head-silver {
    padding-top: 10px;
}
.form-silver {
    display: none;
}
.head-platinum {
    padding-top: 10px;
}
.form-platinum{
    display: none;  
}
#gold {
    background-image: url(../images/formgold.jpg);
    height: 470px;
    color: white;
}
#silver{
    background-color:#bbb;
    height: 470px;
}
#platinum{
    background-color:#ccc;
    height: 470px;
}
.freemember {
    width:100%;
}
.modal {
    display: none; 
    position: fixed; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
.modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*silver modal*/
  .modal2 {
      float: right;
      display: none;
    position: fixed; 
    padding-top: 100px; 
    padding-right: 100px;
    left: 0;
    top: 0;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*platinum*/
  .modal3 {
    float: right;
    display: none;
  position: fixed; 
  padding-top: 100px; 
  padding-right: 100px;
  left: 0;
  top: 0;
  width: 50%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}}}}}