.container img{
    width: 280px;
    height: 320px;
}
img{
    padding: 10px;
}

.fiction #fiction{
    font-size: 40px;
    text-align: center;
}

.genre, a{
    padding-left: 40px;
}

.romance #romance{
    font-size: 40px;
    text-align: center;
}

.detective #detective{
    font-size: 40px;
    text-align: center;
}

.mystery #mystery{
    font-size: 40px;
    text-align: center;
}

#dilemma{
    font-size: 40px;
    text-align: center;
}







/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
body{
    font-family: 'Varela Round', ;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* home */
#home{
    width: auto;
    height: 800px;
    background-image: url(../images/books-2596809_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* search */
.search{
    top: 50%; 
    left: 50px; 
    box-sizing: border-box; 
    color: white;
    background: transparent;
    margin: 0;
    width: auto;
    position: relative; 
    padding-left: 20%; 
    text-align: center;
}
/* navbar */
 ul>li{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family:'Varela Round' ;
}
.nav-item{
    padding-left: 20px;
}
.navbar-nav{
    cursor: pointer;
    transition: opacity, 2s In · Cubic;
    color: white;
    align-items: center;
    opacity: 1.5;
    font-size: 20px;
}
.navbar-toggler{
    align-items: center;
}
.navbar-dark .navbar-toggler {
    color: white;
    border-color:white;
}
/* .navbar-link a{
    padding-left: 60px;
    text-decoration: none;
    color:white;
    transition: opacity, 2s linear;
    font-size: 50px;
} */

/* .navbar-link a:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity, 2s linear;
    color: white;
    align-items: center;
} */
