/* import */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
#wwu {
  background-image: url(./images/236_Library Advocacy Logo March 2010 transparent.png);
  font-family: 'Varela Round', ;
  padding: 0;
  margin: 0;
  align-items: center;
}

h2 {

}
h3{

}
p{

}
.container{
  text-align: center;
}
.contact {
  text-align: center;
  color: white;
  padding: 5rem;
}
.contcontainer {
  border-radius: 5px;
  padding: 5%;
}
.nav-bar-links{
  color: #daa520;
}
